<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_URI} ^/?wp\-content/+debug\.log$
RewriteRule .* - [F,L,NC]
</IfModule>
<IfModule !mod_rewrite.c>
<Files "debug.log">
<IfModule mod_authz_core.c>
Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
Order deny,allow
Deny from all
</IfModule>
</Files>
</IfModule>
# BEGIN WordPress
# Las directivas (líneas) entre "BEGIN WordPress" y "END WordPress" son
# generadas dinámicamente, y solo deberían ser modificadas mediante filtros de WordPress.
# Cualquier cambio en las directivas que hay entre esos marcadores serán sobrescritas.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
# Developer settings
# RewriteRule ^eddisman/(.*) wp-admin/$1?%{QUERY_STRING} [L]
# End Developer settings
# Wordfence WAF
<Files ".user.ini">
<IfModule mod_authz_core.c>
Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
Order deny,allow
Deny from all
</IfModule>
</Files>
# END Wordfence WAF
RewriteCond %{HTTP_HOST} ^demo2.eddis.edu.ar [OR]
RewriteCond %{HTTP_HOST} ^www.demo2.eddis.edu.ar$
RewriteRule ^(.*)$ https://servidoreddis.com.ar [R=301,L]
RewriteCond %{HTTP_HOST} ^eintegrado.eddis.edu.ar [OR]
RewriteCond %{HTTP_HOST} ^www.eintegrado.eddis.edu.ar$
RewriteRule ^(.*)$ https://servidoreddis.com.ar [R=301,L]
RewriteCond %{HTTP_HOST} ^ruleta.eddis.edu.ar [OR]
RewriteCond %{HTTP_HOST} ^www.ruleta.eddis.edu.ar$
RewriteRule ^(.*)$ https://servidoreddis.com.ar/ruleta [R=301,L]
